@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Univeristy of Missouri - Columbia
    </address>

    <address>
        <strong>Kene:</strong>   <a href="mailto:kvmqnz@umsystem.edu">kvmqnz@umsystem.edu</a><br />
        <strong>Luke:</strong> <a href="mailto:ldhfv@umsystem.edu">ldhfv@umsystem.edu</a><br />
        <strong>Sam:</strong>   <a href="mailto:snbkc8@umsystem.edu">snbkc8@umsystem.edu</a><br />
        <strong>Camden:</strong> <a href="mailto:crgwmk@umsystem.edu">crgwmk@umsystem.edu</a>
    </address>
</main>